{% extends 'base.html.twig' %}

{% block title %}Sortie archivée{% endblock %}

{% block body %}
<div class="text-center">
    <h1 class="h3">Sortie archivée</h1>
    <p class="small">Les sorties datant de plus d'un mois sont archivées.</p>
</div>
{% endblock %}